{
  "ecmaFeatures": {
    "blockBindings": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "semistandard",
  "rules": {
    "indent": [
      "error",
      2,
      {
        "MemberExpression": 2,
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      80
    ],
    "valid-jsdoc": [
      "error"
    ]
  }
}
